@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
        transform: rotate(0deg);
    }
    15% {
        transform: translateY(15px);
    }
    75% {
        transform: translateY(-5px);
        transform: rotate(10deg);
    }
    90% {
        transform: translateY(0);
    }
 }

 @keyframes reduced-jump {
    0% {
        transform: translateY(0);
        transform: rotate(0deg);
    }
    5% {
        transform: translateY(12px);
        transform: rotate(5deg);
    }
    75% {
        transform: translateY(-2px);
    }
    90% {
        transform: translateY(0);
    }
 }

 @keyframes wing-flap {
    0% {
        transform: translateY(-4px);
    }
    25% {
        transform: translateY(10px);
        transform: rotateX(140deg);
    }
    90% {
        transform: translateY(-2px);
        transform: rotateX(90deg);
    }
 }

 @keyframes eye-roll {
    0% {
        transform: rotateZ(0deg);
    }
    15% {
        transform: rotateZ(360deg);
    }
    30% {
        transform: rotateZ(180deg);
    }
    65% {
        transform: rotateZ(360deg);
    }
    70% {
        transform: rotateZ(180deg);
    }
    80% {
        transform: rotateZ(300deg);
    }
 }

 @keyframes tail {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(10deg);
    }
 }
