.ptero {
    position: relative;
    top: 50%;
    height: 100%;
    width: 100%;
    animation: rise 1s ease-in infinite;
}

.beak {
    position: absolute;
    top: -2rem;
    right: 20rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 125px 250px;
    border-color: transparent transparent #FF4532 transparent;
    transform: rotate(0deg);
    transition: 1s;
    animation: jump 1s ease-in infinite;
 }

 .eye {
    position: absolute;
    right: 20rem;
    transform: translateY(5px);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: yellow;
 }

 .puple {
    position: absolute;
    right: 20.5rem;
    top: 1rem;
    transform: translateY(5px);
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(17, 20, 68);
    transform-origin: left;
    animation: eye-roll 5s linear infinite;
 }

 .head {
    position: absolute;
    right: 15rem;
    transform: translateY(5px);
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: rgb(138, 137, 166);
    transition: 1s;
    animation: reduced-jump 1s ease-in infinite;
 }

 .wing {
    position: absolute;
    top: -375px;
    right: 10.5rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 125px 400px 0;
    border-radius: 2rem;

    border-color: transparent transparent #a332ff transparent;
    background-color: transparent;
    transition: 1s;
    animation: wing-flap 1s ease-in infinite;
    transform-origin: bottom;
 }

  .leg {
    position: absolute;
    top: 2.5rem;
    right: 5.5rem;
    width: 0px;
    height: 0px;
    transform-origin: left;
    border-style: solid;
    border-width: 0 120px 40px 0;
    border-radius: 25%;
    border-color: transparent transparent #474339 transparent;
    transform: rotate(0deg);
    transition: 1s;
    animation: leg 1s ease-in infinite;
 }

 .tail {
    position: absolute;
    right: 0rem;
    width: 0px;
    height: 0px;
    transform-origin: left;
    border-style: solid;
    border-width: 0 240px 75px 0;
    /* border-radius: 2rem; */

    border-color: transparent transparent #ffc832 transparent;
    transform: rotate(0deg);
    transition: 1s;
    animation: tail 1s ease-in infinite;
 }
