.left {
    width: 55%;
    padding-left: 2.5rem;
}

.simpleA {
    color: gray;
    font-size: 3.5rem;
}

#word {
    color: blue;
}



#canvas {
    border: 1px solid grey;
    border-radius: 0.25rem;
}
