* {
    margin: 0;
    padding: 0;
}

body {
    height: max-content;
    transition: 1s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.navigation-bar {
    padding: 1rem 2rem;
    width: 100%;
}

.left {
    width: 55%;
    padding-left: 2.5rem;
}

.simpleA {
    color: gray;
    font-size: 3.5rem;
}

#word {
    color: blue;
}

/* animationTwo */

#canvas {
    border: 1px solid grey;
    border-radius: 0.25rem;
}

/* animationThree */

.orbitPage {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solarContainer {
    position: relative;
}

.orbitRing {
    position: absolute;
    transform: translate(-50%, -50%);
}

.orbitText {
    position: absolute;
    transform: translate(-50%, -75%);
    width: 20rem;
}

.ringOne {
    width: 24rem;
    height: 24rem;
    border: 2px dashed rgb(184, 184, 184);
    border-radius: 25rem;
}

.ringTwo {
    width: 29rem;
    height: 29rem;
    border: 2px dashed rgb(184, 184, 184);
    border-radius: 25rem;
}

.ringThree {
    width: 42rem;
    height: 42rem;
    border: 2px dashed rgb(184, 184, 184);
    border-radius: 25rem;
}

.planetOne {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    position: absolute;
    left: -13rem;
    background-color: rgb(61, 61, 255);
    transform-origin: 13rem 0;
    animation: orbit 10s linear infinite;
}

.planetTwo {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5rem;
    position: absolute;
    left: -15.25rem;
    background-color: rgb(255, 56, 56);
    transform-origin: 15.25rem 0;
    animation: orbit 20s linear infinite;
}

.planetThree {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5rem;
    position: absolute;
    left: -22.75rem;
    background-color: rgb(255, 143, 62);
    transform-origin: 22.75rem 0;
    animation: orbit 40s linear infinite;
}

#colorChangePage {
    height: 100svh;
    padding-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    /* background-color: rgb(66, 103, 255); */
    transition: 1s;
    position: relative;
}

h2 {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    font-weight: 700;
    font-size: 6rem;
}

#colorOne {
    color: orange;
}

#colorTwo {
    color: rgb(226, 206, 198);
}

#colorThree {
    color: palevioletred;
}

.beak {
    position: absolute;
    right: 20rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 150px 250px;
    border-color: transparent transparent #FF4532 transparent;
    transform: rotate(0deg);
    transition: 1s;
    animation: jump 1s ease-in infinite;
 }

 .eye {
    position: absolute;
    right: 20rem;
    transform: translateY(5px);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: yellow;
 }

 .puple {
    position: absolute;
    right: 20.5rem;
    transform: translateY(5px);
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    transform-origin: left;
    transition: 1s;
    animation: eye-roll 1s ease-in infinite;
 }

 .head {
    position: absolute;
    right: 15rem;
    transform: translateY(5px);
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: rgb(138, 137, 166);
    transition: 1s;
    animation: reduced-jump 1s ease-in infinite;
 }

 .wing {
    position: absolute;
    top: -2rem;
    right: 8rem;
    /* transform: translateY(5px); */
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 150px 400px 0;
    border-color: transparent transparent #32e7ff transparent;
    background-color: transparent;
    transition: 1s;
    animation: wing-flap 1s ease-in infinite;
    transform-origin: bottom;
 }
